@model DFC.App.JobProfile.Data.Models.Segment.CurrentOpportunities.CurrentOpportunitiesSegmentDataModel;

<section id="CurrentOpportunities">
    <h2 class="job-profile-headings">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">
                Apprenticeships
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
        @if (Model.Apprenticeships?.Vacancies.Count() > 0)
        {
            foreach (var apprenticeVacancy in Model.Apprenticeships.Vacancies)
            {
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="@apprenticeVacancy.URL">@apprenticeVacancy.Title</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> @apprenticeVacancy.WageText <span class="govuk-body-s govuk-secondary-colour">@apprenticeVacancy.WageUnit</span></li>
                            @{
                                var location = apprenticeVacancy.Location == null || (string.IsNullOrWhiteSpace(apprenticeVacancy.Location.Town) && string.IsNullOrWhiteSpace(apprenticeVacancy.Location.PostCode))
                                    ? "Not known"
                                    : string.IsNullOrWhiteSpace(apprenticeVacancy.Location.Town)
                                        ? apprenticeVacancy.Location.PostCode
                                        : $"{apprenticeVacancy.Location.Town}";
                            }
                        <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> @location</li>
                        </ul>
                    </div>
                </div>
            }
            <div class="govuk-grid-column-full govuk-body-m dfc-code-jp-vacancyText">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
            </div>
        }
        else
        {
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText">
                <p>We can't find any apprenticeship vacancies in England for @Model.TitlePrefix @Model.JobTitle right now.</p>
                <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
            </div>
        }
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">
                Courses
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
        @if (Model.Courses?.Opportunities.Count() > 0)
        {
            foreach (var course in Model.Courses.Opportunities)
            {
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="@course.Url">@course.Title</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> @course.Provider</li>
                            <li>
                                <partial name="~/Views/Profile/Segment/CurrentOpportunities/_StartDate.cshtml" model="course" />
                            </li>
                            @{
                                var location = course.Location == null || string.IsNullOrWhiteSpace(course.Location.Town) ? "Not known" : course.Location.Town;
                            }
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> @location</li>
                        </ul>
                    </div>
                </div>
            }
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText">
                <a href="/find-a-course/search">Find courses near you</a>
            </div>
        }
        else
        {
            <div class="govuk-grid-column-full dfc-code-jp-NoTrainingCoursesText">
                <p>Are you interested in becoming @Model.TitlePrefix @Model.JobTitle?</p>
                <p>Search for <a href="/find-a-course/search">training courses near you</a>.</p>
            </div>
        }
    </div>
    <div>
        <h3 class="govuk-heading-m">
            Jobs
            <span class="govuk-caption-m">In the United Kingdom</span>
        </h3>
        <p>The <a href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
    </div>
</section>