@model BodyViewModel

<div class="govuk-main-wrapper">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="job-profile-sections">
                            <partial name="_SegmentLinks" />
                            <partial name="_SegmentHowToBecome" model="@Model.HowToBecomeSegment" />
                            <partial name="_SegmentWhatItTakes" model="@Model.WhatItTakesSegment" />
                            <partial name="_SegmentWhatYouWillDo" model="@Model.WhatYoullDoSegment" />
                            <partial name="_SegmentCareerPath" model="@Model.CareerPathSegment" />
                            <partial name="_SegmentCurrentOpportunities" model="@Model.CurrentOpportunities" />
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        @*<partial name="_StaticSearch" model="@Model.SharedContent.Where(x => x.CanonicalName == "notwhatyourlookingfor").FirstOrDefault()" />*@
                        @*<partial name="_StaticRelatedCareers" model="@Model" />*@
                        @*<partial name="_StaticSkillsAssessment" model="@Model.SharedContent.Where(x => x.CanonicalName == "skillsassessment").FirstOrDefault()" />*@
                        @*<partial name="_StaticSpeakToAnAdvisor" model="@Model.SharedContent.Where(x => x.CanonicalName == "speaktoanadvisor").FirstOrDefault()" />*@
                    </div>
                </div>

                <partial name="_FeedbackYesOrNo" />
            </div>
        </div>
    </div>
</div>
