@model BodyViewModel

<div class="govuk-main-wrapper">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="job-profile-sections">
                            <partial name="_SegmentLinks" />
                            <partial name="_jbHowToBecomeSegment" model="@Model.HowToBecomeSegment" />
                            <partial name="_jbWhatItTakesSegment" model="@Model.WhatItTakesSegment" />
                            <partial name="_jbWhatYouWillDoSegment" model="@Model.WhatYoullDoSegment" />
                            <partial name="_jbCareerPathSegment" model="@Model.CareerPathSegment" />
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        @*<partial name="_Search" model="@Model.SharedContent.Where(x => x.CanonicalName == "notwhatyourlookingfor").FirstOrDefault()" />*@
                        @*<partial name="_jbRelatedCareersSegment" model="@Model" />*@
                        @*<partial name="_SkillsAssessmentSnippet" model="@Model.SharedContent.Where(x => x.CanonicalName == "skillsassessment").FirstOrDefault()" />*@
                        @*<partial name="_speakToAnAdvisor" model="@Model.SharedContent.Where(x => x.CanonicalName == "speaktoanadvisor").FirstOrDefault()" />*@
                    </div>
                </div>

                <partial name="_FeedbackYesOrNo" />
            </div>
        </div>
    </div>
</div>
