@model EducationalRoute

<section class="job-profile-subsection"
         id="@Model.Topic">

    <h3>@Model.Topic</h3>

    <div class="job-profile-subsection-content">

        @Html.Raw(Model.RelevantSubjects)

        @Html.Raw(Model.FurtherInformation)

        <h4>Entry requirements</h4>

        @Html.Raw(Model.RequirementsAndReading.Preface)

        <ul class="list-reqs">
            @foreach (var requirement in Model.RequirementsAndReading.Requirements)
            {
                <li>@requirement</li>
            }
        </ul>

        <h4>More information</h4>

        <ul class="list-link">
            @foreach (var readingLink in Model.RequirementsAndReading.FurtherReading)
            {
                <li><a class="htb-feature" href="@readingLink.Link">@readingLink.Text</a></li>
            }
        </ul>
    </div>
</section>
