@model OpportunityCourse

<div class="govuk-grid-column-one-half">

    <div class="opportunity-item">

        <h4 class="govuk-heading-s">
            <a href="@Model.Header.Link">@Model.Header.Text</a>
        </h4>

        <ul class="govuk-list">
            <li><span class="govuk-body govuk-!-font-weight-bold">Provider: </span>@Model.Provider</li>
            <li><span class="govuk-body govuk-!-font-weight-bold">Start date: </span>@Model.StartDate</li>
            <li><span class="govuk-body govuk-!-font-weight-bold">Location: </span>@Model.Location</li>
        </ul>
    </div>
</div>

