@model JobProfileHowToBecome

<section id="HowToBecome"
         data-gtm-vis-recent-on-screen-8675592_54="32785"
         data-gtm-vis-first-on-screen-8675592_54="32785"
         data-gtm-vis-total-visible-time-8675592_54="100"
         data-gtm-vis-has-fired-8675592_54="1">

    <h2 class="heading-large job-profile-heading">How to become an @Model.Title</h2>

    <p>You can get into this job through:</p>

    <ul>
        @if (It.Has(Model.UniversityRoute))
        {
            <li>a university degree</li>
        }

        @if (It.Has(Model.CollegeRoute))
        {
            <li>studying at college</li>
        }

        @if (It.Has(Model.ApprenticeshipRoute))
        {
            <li>an apprenticeship</li>
        }

        @if (It.Has(Model.VolunteeringRoute))
        {
            <li>participating in voluntary work</li>
        }

        @if (It.Has(Model.DirectRoute))
        { 
            <li>directly applying to a potential employer</li>
        }
    </ul>

    @if (It.Has(Model.UniversityRoute))
    {
        <partial name="_HowToBecomeEducationalRoute" model="@Model.UniversityRoute" />
    }

    @if (It.Has(Model.CollegeRoute))
    {
        <partial name="_HowToBecomeEducationalRoute" model="@Model.CollegeRoute" />
    }

    @if (It.Has(Model.ApprenticeshipRoute))
    {
        <partial name="_HowToBecomeEducationalRoute" model="@Model.ApprenticeshipRoute" />
    }

    @if (It.Has(Model.WorkRoute))
    {
        <partial name="_HowToBecomeWorkRoute" model="@Model.WorkRoute" />
    }

    @if (It.Has(Model.VolunteeringRoute))
    {
        <partial name="_HowToBecomeVolunteeringRoute" model="@Model.VolunteeringRoute" />
    }

    @if (It.Has(Model.DirectRoute))
    {
        <partial name="_HowToBecomeDirectRoute" model="@Model.DirectRoute" />
    }

    @if (It.Has(Model.OtherRoute))
    {
        <partial name="_HowToBecomeOtherRoute" model="@Model.OtherRoute" />
    }

    @if (It.Has(Model.MoreInformation))
    {
        <partial name="_HowToBecomeMoreInformation" model="@Model.MoreInformation" />
    }

</section>