@model JobProfileHowToBecome

<section id="HowToBecome"
         data-gtm-vis-recent-on-screen-8675592_54="32785"
         data-gtm-vis-first-on-screen-8675592_54="32785"
         data-gtm-vis-total-visible-time-8675592_54="100"
         data-gtm-vis-has-fired-8675592_54="1">

    <h2 class="heading-large job-profile-heading">How to become an @Model.Title</h2>

    <p>You can get into this job through:</p>

    <ul>
        @if (Model.UniversityRoute != null)
        {
            <li>a university degree</li>
        }

        @if (Model.CollegeRoute != null)
        {
            <li>college study</li>
        }

        @if (Model.ApprenticeshipRoute != null)
        {
            <li>an apprenticeship</li>
        }

        @if (Model.VolunteeringRoute != null)
        {
            <li>participating in voluntary work</li>
        }

        @if (Model.DirectRoute != null)
        {
            <li>directly applying to an employer</li>
        }
    </ul>

    @if (Model.UniversityRoute != null)
    {
        <partial name="_HowToBecomeUniversityRoute" model="@Model.UniversityRoute" />
    }

    @if (Model.CollegeRoute != null)
    {
        <partial name="_HowToBecomeCollegeRoute" model="@Model.CollegeRoute" />
    }

    @if (Model.ApprenticeshipRoute != null)
    {
        <partial name="_HowToBecomeApprenticeshipRoute" model="@Model.ApprenticeshipRoute" />
    }

    @if (Model.WorkRoute != null)
    {
        <partial name="_HowToBecomeWorkRoute" model="@Model.WorkRoute" />
    }

    @if (Model.VolunteeringRoute != null)
    {
        <partial name="_HowToBecomeVolunteeringRoute" model="@Model.VolunteeringRoute" />
    }

    @if (Model.DirectRoute != null)
    {
        <partial name="_HowToBecomeDirectRoute" model="@Model.DirectRoute" />
    }

    @if (Model.OtherRoute != null)
    {
        <partial name="_HowToBecomeOtherRoute" model="@Model.OtherRoute" />
    }

    @if (Model.Registration != null)
    {
        <partial name="_HowToBecomeRegistration" model="@Model.Registration" />
    }

    @if (Model.MoreInformation != null)
    {
        <partial name="_HowToBecomeMoreInformation" model="@Model.MoreInformation" />
    }

</section>