@model JobProfileHowToBecome

<section id="HowToBecome">

    <h2 class="job-profile-heading">How to become an @Model.Title</h2>

    <p>You can get into this job through:</p>

    <ul>
        @if (It.Has(Model.UniversityRoute))
        {
            <li>a university degree</li>
        }

        @if (It.Has(Model.CollegeRoute))
        {
            <li>studying at college</li>
        }

        @if (It.Has(Model.ApprenticeshipRoute))
        {
            <li>an apprenticeship</li>
        }

        @if (It.Has(Model.VolunteeringRoute))
        {
            <li>participating in voluntary work</li>
        }

        @if (It.Has(Model.DirectRoute))
        {
            <li>directly applying to a potential employer</li>
        }

        @if (It.Has(Model.OtherRoute))
        {
            <li>specialist courses through employers or professional bodies</li>
        }
    </ul>

    @if (It.Has(Model.UniversityRoute))
    {
        <partial name="_HowToBecomeEducationalRoute" model="@Model.UniversityRoute" />
    }

    @if (It.Has(Model.CollegeRoute))
    {
        <partial name="_HowToBecomeEducationalRoute" model="@Model.CollegeRoute" />
    }

    @if (It.Has(Model.ApprenticeshipRoute))
    {
        <partial name="_HowToBecomeEducationalRoute" model="@Model.ApprenticeshipRoute" />
    }

    @if (It.Has(Model.WorkRoute))
    {
        <partial name="_HowToBecomeGeneralRoute" model="@Model.WorkRoute" />
    }

    @if (It.Has(Model.VolunteeringRoute))
    {
        <partial name="_HowToBecomeGeneralRoute" model="@Model.VolunteeringRoute" />
    }

    @if (It.Has(Model.DirectRoute))
    {
        <partial name="_HowToBecomeGeneralRoute" model="@Model.DirectRoute" />
    }

    @if (It.Has(Model.OtherRoute))
    {
        <partial name="_HowToBecomeGeneralRoute" model="@Model.OtherRoute" />
    }

    @if (It.Has(Model.MoreInformation))
    {
        <partial name="_HowToBecomeMoreInformation" model="@Model.MoreInformation" />
    }

</section>