@model DocumentViewModel

<!DOCTYPE html>
<html lang="en">
<head>
<partial name="_Head" model=@Model.Head />
</head>
<body>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DocumentId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentId)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CanonicalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CanonicalName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastReviewed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastReviewed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SequenceNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SequenceNumber)
            </dd>

            <dd class="col-sm-10">
                @Html.Raw(Model.OverviewBannerSegmentMarkup)
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(Model.CurrentOpportunitiesSegmentMarkup)
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(Model.RelatedCareersSegmentMarkup)
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(Model.CareerPathSegmentMarkup)
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(Model.HowToBecomeSegmentMarkup)
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(Model.WhatItTakesSegmentMarkup)
            </dd>
            <dd class="col-sm-10">
                @Html.Raw(Model.WhatYouWillDoSegmentMarkup)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
