@model DocumentViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    @if (!string.IsNullOrWhiteSpace(Model.BreadcrumbTitle))
    {
        ViewData["Title"] = Model.BreadcrumbTitle;

        <title>@ViewData["Title"]</title>
    }
    <partial name="_Head" model=@Model.Head />
</head>
<body>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CanonicalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CanonicalName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CanonicalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CanonicalName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastReviewed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastReviewed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SequenceNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SequenceNumber)
            </dd>
        </dl>
    </div>

    <partial name="_Hero" model=@Model.Body.Segments.SingleOrDefault(s => s.Segment == DFC.App.JobProfile.Data.JobProfileSegment.Overview)?.Markup />
    <partial name="_BodyContent" model=@Model.Body />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
