@model DocumentViewModel

<html>
<head>
    @if (!string.IsNullOrWhiteSpace(Model.BreadcrumbTitle))
    {
        ViewData["Title"] = Model.BreadcrumbTitle;

        <title>@ViewData["Title"]</title>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="description" Markup="@Model.Description">
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="keywords" Markup="@Model.Keywords">
    }
</head>
<body>
    <partial name="Breadcrumb" model="@Model.Breadcrumb" />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DocumentId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentId)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CanonicalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CanonicalName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BreadcrumbTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BreadcrumbTitle)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IncludeInSitemap)
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IncludeInSitemap)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Updated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Updated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OverviewBannerSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.OverviewBannerSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OverviewBannerSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OverviewBannerSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentOpportunitiesSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.CurrentOpportunitiesSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentOpportunitiesSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentOpportunitiesSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RelatedCareersSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.RelatedCareersSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RelatedCareersSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RelatedCareersSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CareerPathSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.CareerPathSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CareerPathSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CareerPathSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HowToBecomeSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.HowToBecomeSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HowToBecomeSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HowToBecomeSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WhatItTakesSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.WhatItTakesSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WhatItTakesSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WhatItTakesSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WhatYouWillDoSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.WhatYouWillDoSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WhatYouWillDoSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WhatYouWillDoSegmentUpdated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WhatYouWillDoSegmentMarkup)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.WhatYouWillDoSegmentMarkup)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WhatYouWillDoSegmentUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WhatYouWillDoSegmentUpdated)
            </dd>

            @if (Model.AlternativeNames?.Count() > 0)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AlternativeNames)
                </dt>
                <dd class="col-sm-10">
                    <ol>
                        @foreach (var alternativeName in Model.AlternativeNames)
                        {
                            <li><a href="/profile/@alternativeName">@alternativeName</a></li>
                        }
                    </ol>
                </dd>
            }
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
