@using DFC.App.JobProfile.Data.Enums
@using DFC.App.JobProfile.Data.Models.Segment.HowToBecome

<section id="HowToBecome">
    <h2 class="job-profile-heading">How to become @Model.Title</h2>

    @Html.Raw(Model.EntryRouteSummary)

    @{
        var entryRoutes = Model.EntryRoutes as EntryRoutes;
        var universityRoute = entryRoutes.CommonRoutes.FirstOrDefault(route => route.RouteName.Equals(RouteName.University));
        var collegeRoute = entryRoutes.CommonRoutes.FirstOrDefault(route => route.RouteName.Equals(RouteName.College));
        var apprenticeshipRoute = entryRoutes.CommonRoutes.FirstOrDefault(route => route.RouteName.Equals(RouteName.Apprenticeship));

        <partial name="~/Views/Profile/Segment/HowToBecome/RouteEntry.cshtml" , model="@universityRoute" />
        <partial name="~/Views/Profile/Segment/HowToBecome/RouteEntry.cshtml" , model="@collegeRoute" />
        <partial name="~/Views/Profile/Segment/HowToBecome/RouteEntry.cshtml" , model="@apprenticeshipRoute" />
    }
    <partial name="~/Views/Profile/Segment/HowToBecome/FurtherRoutes.cshtml" , model="@Model.EntryRoutes" />

    @if (@Model.RealStory != null)
    {
        <partial name="~/Views/Profile/Segment/HowToBecome/RealStory.cshtml" , model="@Model.RealStory" />
    }

    <partial name="~/Views/Profile/Segment/HowToBecome/MoreInformation.cshtml" , model="@Model" />
</section>